@using CIRKEVNAHORESSR.Components.Pages.Global
@inherits LayoutComponentBase
@inject NavigationManager Nav

<body class="index-page">
    <Menu/>
    <main class="main">
        @Body
    </main>
    <Footer/>
</body>
