<!DOCTYPE html>
<html lang="en">

<head>
        <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/" />
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/main.css" />

    <!-- favicons
    ================================================== -->
    <link rel="icon" type="image/png" href="/logo/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/logo/favicon.svg" />
    <link rel="shortcut icon" href="/logo/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/logo/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Církev Na Hoře" />
    <link rel="manifest" href="/logo/site.webmanifest" />

    <!-- reCAPTCHA -->
    <script src="https://www.google.com/recaptcha/api.js?render=6LegSGosAAAAAA5gpm7EMHgcWYX990jfCgrKl_8s"></script>

    <!-- SEO & dynamic head -->
    <HeadOutlet />
</head>

<body>
    <div id="top"></div>
    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-jump">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <Routes />

    <script defer src="/js/modernizr.js"></script>
    <script defer src="/js/jquery-3.2.1.min.js"></script>
    <script defer src="/js/plugins.js"></script>
    <script defer src="/js/recaptcha.js"></script>
    <script defer src="/js/main.js"></script>
</body>

</html>
