<!-- page content
================================================== -->
<section class="page-content">

    <div class="row">
        <div class="column">

            <p class="lead drop-cap">
            Křesťanská služba dlouhodobě pracuje na studentských kolejí ČVUT. 
            Naše aktivity jsou velmi petré a často dobrodružné, přesto vnímáme 
            důležitost se pravidelně potkávat a dávat na setkáních prostor lidem 
            více poznávat Boha, číst společně Bibli nebo se modlit. Klademe důraz 
            na prohlubování vztahů, rozvoj našich osobních životů a povzbuzování se 
            navzájem. Tvoříme domov a rodinu.
            </p>

            <br>
            <MeetingRegular/>

        </div>
    </div>

</section> <!-- end page-content -->
