<!-- events
================================================== -->
<div class="row block-large-1-2 block-900-full events-list">

    <div class="column events-list__item">
        <h3 class="display-1 events-list__item-title">
            <a title="">Církev Na Hoře</a>
        </h3>
        <p>
        Každý týden děláme nedělní shromáždění, kde se můžete setkat s chválami (zpívané křesťanské písně), 
        kázáním nebo diskuzí spojenou s určitým tématem na večer. Po společném programu bývá připraveno jídlo, 
        je volnější program, pokračuje se v rozhovorech a sdílení.
        </p>
        <ul class="events-list__meta">
            <li class="events-list__meta-date">Každá NEDĚLE</li>
            <li class="events-list__meta-time">18:00 - 20:00 hodin</li>
            <li class="events-list__meta-location">Chaloupeckého 1915/7, 169 00 Praha 6 - Břevnov</li>
        </ul>
    </div> <!-- end events-list__item -->
    <div class="column events-list__item">
        <h3 class="display-1 events-list__item-title">
            <a title="">Křesťanský klub ČVUT</a>
        </h3>
        <p>
        Během týdne máme pravidelná setkání podobné nedělní církvi. Začínáme později, 
        aby se lidé stihli vrátit z přednášek na kolej. Křesťanský klub ČVUT je součástní studentské unie, 
        proto se účastní i spousty akcí a aktivit spojené se studentským prostředím a přidruženými kluby.
        </p>
        <ul class="events-list__meta">
            <li class="events-list__meta-date">Každá STŘEDA</li>
            <li class="events-list__meta-time">19:00 - 21:00 HODIN</li>
            <li class="events-list__meta-location">Chaloupeckého 1915/7, 169 00 Praha 6 - Břevnov</li>
        </ul>
    </div> <!-- end events-list__item -->

</div> <!-- end events-list -->
