<!-- page content
================================================== -->
<section class="page-content">

    <div class="row">
        <div class="column">
            <AboutIntro></AboutIntro>
        </div>
    </div>

</section> <!-- end page content -->
