<p class="lead drop-cap">
Církev Na Hoře vznikla z iniciativy Křesťanského klubu SU ČVUT. Skupina
mladých lidí se rozhodla vytvořit na kolejích a univerzitě křesťanské 
společenství otevřené věřícím i nevěřícím lidem přímo v centru studentského 
života. Tvoříme kreativní prostředí, kde se setkávají lidé s Bohem, získávají
nová přátelství a rodinu. Chceme, aby CNH byla příjemné prostředí plné lásky,
víry a naděje. Oficiálně fungujeme od 1.října 2023.
<br />
<br />
Od počátku fungování CNH rozvíjíme dobré vztahy s dalšími církvemi. 
Máme dobré vztahy s různými vedoucími křesťanských skupin a stanic. Ačkoliv jsme 
v počátku nebyli pod žádnou denominací, rozhodli jsme naše společenství v roce 2024
zaštítit Apoštolskou církví ČR a stali jsme se oficiálně 11.listopadu 2024 misijní stanicí AC, 
konkrétně sboru Heart Prague. Jedná se o protestanskou církev evangelikální
aliance. Má bohatou historii a biblické učení. Je uznávaná českým státem 
a registrovaná podle zákona č. 308/1991 Sb.
<a href="/clenstvi">Oficiálním členem Církve Na Hoře se můžete stát po vyplnění formuláře v sekci členství 
a potvrzením přihlášky vedením misijní stanice.</a>
</p>

<div class="row">
    <div class="column large-half medium-full">
        <h2>HODNOTY</h2>
        <p>
        Jádrem našeho společenství je křesťanská víra, proto základem
        našich hodnost je Bible a Duch svatý, který nás vede. Mezi ovoce
        Ducha svatého patří láska, radost, pokoj, trpělivost, laskavost, 
        dobrota, věrnost, tichost a sebeovládání. K dalším křesťanským 
        principům a ctnostem můžeme zařadit spravedlnost, milosrdenství, 
        odpuštění i moudrost apod. 
        </p>
    </div>

    <div class="column large-half medium-full">
        <h2>NAŠE MISE</h2>
        <p>
        Klademe si za cíl následovat Ježíše Krista, v jeho činech i slovech.
        Toužíme, aby Boha mohlo poznat, co nejvíce mladých lidí a začít
        žít pro Něj. Chceme jako církev vstoupit do plnosti požehnání, které
        pro nás Bůh připravil. Naše přání je být srozumitelní pro dnešní dobu,
        schopní formovat naše postoje ve světle Písma i být vykazatelní před Bohem i lidmi.
        </p>
    </div>
</div>

<blockquote cite="http://where-i-got-my-info-from.com">
    <p>
    Vy jste světlo světa. Nemůže zůstat skryto město ležící na hoře.
    A když rozsvítí lampu, nestaví ji pod nádobu, ale na svícen; a svítí všem v domě.
    Tak ať svítí vaše světlo před lidmi, aby viděli vaše dobré skutky a vzdali slávu vašemu Otci v nebesích.
    </p>
    <cite>
        <a href="#0">Matouš 5:14-16 ČEP</a>
    </cite>
</blockquote>


<a href="/tym" target="_blank" class="btn btn--footer btn-wide btn--large h-full-width" style="font-size: large" >VEDENÍ</a> 