<section class="s-connect">

    <div class="row connect-content">
        <div class="column large-half tab-full">
            <img src="images/events/vnh2.jpg" alt="Homepage">
        </div>
        <div class="column large-half tab-full">
            <img src="images/events/last2.jpg" alt="Homepage">
        </div>
    </div> 

</section> 

<section class="s-connect">

    <div class="row connect-content">
        <div class="column large-half tab-full">
            <img src="images/events/post2.jpg" alt="Homepage">
        </div>
        <div class="column large-half tab-full">
            <img src="images/events/vnh1.jpg" alt="Homepage">
        </div>
    </div> 

</section> 

<section class="s-connect">

    <div class="row connect-content">
        <div class="column large-half tab-full">
            <img src="images/events/thanks2.jpg" alt="Homepage">
        </div>
        <div class="column large-half tab-full">
            <img src="images/events/cnh1.jpg" alt="Homepage">
        </div>
    </div> 

</section>