<section class="s-connect">

    <div class="row connect-content">
        <div class="column large-half tab-full">
            <img src="/img/events/vnh2.webp" alt="Homepage">
        </div>
        <div class="column large-half tab-full">
            <img src="/img/events/last2.webp" alt="Homepage">
        </div>
    </div> 

</section> 

<section class="s-connect">

    <div class="row connect-content">
        <div class="column large-half tab-full">
            <img src="/img/events/post2.webp" alt="Homepage">
        </div>
        <div class="column large-half tab-full">
            <img src="/img/events/vnh1.webp" alt="Homepage">
        </div>
    </div> 

</section> 

<section class="s-connect">

    <div class="row connect-content">
        <div class="column large-half tab-full">
            <img src="/img/events/thanks2.webp" alt="Homepage">
        </div>
        <div class="column large-half tab-full">
            <img src="/img/events/cnh1.webp" alt="Homepage">
        </div>
    </div> 

</section>