<!-- page content
================================================== -->
<section class="page-content">

    <div class="row">
        <div class="column">

            <p class="lead drop-cap">
            Zde nabízíme formulář, kterým nás můžete kontaktovat. V blízké době se budeme 
            snažit odpovědět na vaše dotazy. Zároveň je možnost se s námi kdykoliv spojit
            skrze sociální sítě nebo přímé osobní setkání na našich akcích.
            </p>

            <p style="font-style: oblique;">
            <strong>Chtěli bychom poděkovat všem sponzorům, dárcům i přátelům za podporu této 
            křesťanské služby. Děkujeme za modlitby, přátelství, povzbuzování i finance. 
            Každý zdánlivě nepatrný čin nebo laskavé slovo se počítá a dělá den krásnější. </strong> 
            </p>

            <div class="row">
                <div class="column large-6 tab-full">
                    <h3>Místo</h3>
                    <p>
                        Strahov - Blok 8, 1.mezipatro <br>
                        Chaloupeckého 1915/7 <br>
                        Praha 6 - Břevnov <br>
                        Česká republika
                    </p>
                    <a href="https://en.mapy.cz/zakladni?q=Chaloupeck%C3%A9ho%201915%2F7&source=addr&id=8974731&x=14.3914329&y=50.0801093&z=17" target="_blank" class="btn btn--footer">MAPA</a>
                </div>

                <div class="column large-6 tab-full">
                    <h3>Informace</h3>
                    <p>
                    pastor a kontaktní osoba: Daniel Králík<br>
                    osobní email (pastor): daniel.kralik.cze@gmail.com<br>
                    mobilní telefon (pastor): +420 730 676 964<br>
                    veřejný email (vedení): krestanskyklub@gmail.com <br>
                    </p>
                </div>
                <div class="column large-6 tab-full">
                    <h3>Podpoř nás</h3>
                    <p>
                        Číslo účtu: 2802658356 / 2010<br>
                        IBAN: CZ69 2010 0000 0028 0265 8356<br>
                        BIC/SWIFT: FIOBCZPPXXX<br>
                        Do poznámky napište: <strong>Dar na činnost KK a CNH</strong>
                    </p>
                </div>
                <div class="column large-6 tab-full">
                    <img src="img/QRFio500.webp" alt="Homepage">
                </div>
            </div>
            <ContactForm/>
        </div>
    </div>

</section> <!-- end page-content -->
