<!-- connect
================================================== -->
<section class="s-connect">

    <div class="row connect-content">
        <div class="column large-half tab-full">
            <h3 class="display-1">Zapoj se</h3>
            <p>
            Pokud se chceš pravidelně podílet na aktivitách Církve Na Hoře a více rozhodovat
            o současném dění, rádi tě zapojíme. Staň se členem našeho týmu a pomož nám při
            přípravě i chodu církve a celé křesťanské služby. Vhodné místo pro tebe určitě najdeme.
            </p>

            <a href="/kontakt" class="btn btn--primary h-full-width">Kontaktuj nás</a>
        </div>
        <div class="column large-half tab-full">
            <h3 class="display-1">Zeptej se</h3>
            <p>
            Chceš získávat aktuální informace nebo nám jen napsat? Rád bys nás navštívil a
            dozvěděl se o našem společenství více? Rádi tě přivítáme. Nemáš nyní čas ani možnosti 
            se podílet přímo na službě, ale rád bys byl její součástí. Budeme moc rádi za podporu
            jakoukoliv formou. Neváhej nám napsat.
            </p>

            <a href="/clenstvi" class="btn btn--primary h-full-width">Chci být členem</a>
        </div>
    </div> <!-- end connect-content  -->

</section> <!-- end s-connect -->

