<!-- page content
================================================== -->
<section class="page-content">

    <div class="row">
        <div class="column">
            <TeamIntro/>
            <br />
            <TeamPeople/>
            <TeamConnect/>
        </div>
    </div>

</section> <!-- end page content -->
