<h2>Tým</h2>

<div class="row block-large-1-2 block-tab-full church-staff">
    <TeamPerson
        Name="Daniel Králík"
        PhotoPath="images/avatars/daniel.jpg"
        Role="Pastor Církve Na Hoře"
        Description="
        Zajímá se o křesťanství od malička. Miluje knihy, 
        rád hraje na kytaru a zpívá. Vytudoval informatiku, 
        které se také věnuje. Má rád všechny možné sportovní aktivity.
        ">
    </TeamPerson>

    <TeamPerson
        Name="Lucie Králíková"
        PhotoPath="images/avatars/lucka.jpg"
        Role="Média a grafika"
        Description="
        Je absolventkou stavitelství a architektury. S grafikou má
        bohaté zkušenosti. Má na starosti grafiku CNH i KK. Ráda hraje 
        na piano a kreslí. Často připraví i něco na zub.
        ">
    </TeamPerson>

    <TeamPerson
        Name="Dominik Izák Exner"
        PhotoPath="images/avatars/dom.png"
        Role="Předseda Křesťanského klubu"
        Description="
        Současný předseda Křesťanského klubu. Technický člověk v každém ohledu.
        Studuje strojárnu, zajišťuje a organizuje mnoho věcí pro KK i CNH.
        Věrný přítel i kamarád do deště. 
        ">
    </TeamPerson>

    <TeamPerson
        Name="Petr Rattay"
        PhotoPath="images/avatars/hp.png"
        Role="pastor HP, garant misijní stanice CNH"
        Description="
        Pastorem křesťanského sboru Heart Prague, Apoštolská církev. Mentor a garant
        misijní stanice CNH. Laskavý člověk a skvělý otec 4 dětí.
        ">
    </TeamPerson>

</div> <!-- end church staff --> 