@inherits TeamPersonBase

<div class="column church-staff__item">
    <div class="church-staff__header">
        <div class="church-staff__picture">
            <img src="@PhotoPath" alt="">
        </div>
        <h4 class="church-staff__name">
            @Name
            <span class="church-staff__position">
                @Role
            </span>
        </h4>
    </div>

    <p>
        @Description
    </p>
</div>
