<p class="lead drop-cap">
Zde jsou důležití lidé, kteří se podílejí na fungování a organizaci CNH včetně 
dalších akcí spojené s KK. Mají za cíl vytvářet příjemné prostředí, kam lidé rádi 
chodí a cítí se bezpečně. Kladou si také za cíl dlouhodobé udržitelnosti a chtějí 
zapojovat další lidi, podporovat nápady i realizovat velké projekty.
</p>
