<h2>VYZNÁNÍ VÍRY</h2>

<div class="row block-large-1-2 block-1000-full block-list">
   <h3>
   BŮH
   </h3>
   <ol type="1">
       <li>
           Věříme, že Bible - Písmo svaté - je jediným, vdechnutým a neomylným autoritativním Slovem Božím.
       </li>
       <li>
           Věříme, že je jeden věčně existující trojjediný Bůh: Bůh Otec, Syn a Duch Svatý.
       </li>
       <li>
           Věříme, že Bůh je věčný, všemohoucí Stvořitel nebe i země, celého vesmíru a veškerého života.
       </li>
       <li>
           Věříme v Božství Ježíše Krista, jeho početí z Ducha Svatého, narození z panny Marie, jeho bezhříšné lidství a dokonalý život, ve věčnou postačitelnost jeho smírčí a zástupné smrti na kříži, v jeho zmrtvýchvstání v těle, v jeho nanebevstoupení na pravici Otcovu a v jeho druhý příchod na zem v moci a slávě.
       </li>
       <li>
           Věříme v Ducha Svatého jako Boží osobu, který byl seslán na věřící v den Letnic, což bylo počátkem živé Kristovy církve na zemi, a že Duch Svatý působí dodnes ve stejné moci.
       </li>
   </ol>
   
   <h3>
   POKÁNÍ A RŮST
   </h3>
   <ol type="1">
       <li>
            Potřebujeme prožít a uvědomit si naší původní hříšnost a ztracenost,
            vzdálení se ve světle Slova Božího.
       </li>
       <li>
            Věříme v pokání, tj. změnu smýšlení, lítost nad hříchem, jehož jsme se dopustili, i nenávist k němu.
       </li>
       <li>
            Věříme v obrácení se ve víře k Bohu, očištění krví Ježíše Krista a Boží ospravedlnění.
       </li>
       <li>
            Věříme ve znovuzrození v Ježíši Kristu - přijetí Božího synovství.
       </li>
       <li>
            Věříme v křest ve vodě ponořením na základě osobní víry.
       </li>
       <li>
            Věříme v křest v Duchu Svatém s biblickým znamením - mluvením novými jazyky.
       </li>
       <li>
            Věříme v naplňování Duchem Svatým.
       </li>
   </ol>


   <h3>
   BOŽÍ PLÁN A MILOST
   </h3>
   <ol type="1">
       <li>
            Člověk byl stvořen k obrazu Božímu. Sveden Satanovou lží zhřešil neposlušností, a ztratil tak obecenství s Bohem, čímž uvedl na celé lidstvo duchovní i tělesnou smrt.
       </li>
       <li>
            Ježíš Kristus smířil svou obětí lidstvo s Bohem, a umožnil tak člověku návrat k původnímu stavu a k životu věčnému.
       </li>
       <li>
            Osobní vírou v Ježíše Krista má každý člověk možnost stát se z Boží milosti opět Božím dítětem a dosáhnout života věčného.
       </li>
       <li>
            Duch Svatý usvědčuje i dnes svět z hříchu, zjevuje tajemství evangelia a zmocňuje Kristovu církev k plnění jejího poslání na zemi.
       </li>
       <li>
            Oběť Ježíše Krista pojí věřící v jednu rodinu Boží, církev Kristovu na zemi.
       </li>
       <li>
            Církev Kristova bude přenesena do Boží slávy.
       </li>
       <li>
            Zřízení tisíciletého království na zemi.
       </li>
       <li>
            Poslední soud.
       </li>
       <li>
            Spasení všech, kteří přijali dílo spasení v Kristu a vytrvají věrně až do konce. Takoví budou žít věčně v nebeské slávě.
       </li>
       <li>
            Existuje věčná záhuba - ohnivé jezero - pro ty, kteří odmítli Krista jako Spasitele.
       </li>
   </ol>
   
   <h3>
   CÍRKEV
   </h3>
   <ol type="1">
       <li>
            Hlavou církve je Ježíš Kristus a tvoří ji znovuzrození lidé, kteří žijí pod autoritou Ježíše Krista a jsou spojeni Duchem Svatým a Slovem Božím.
       </li>
       <li>
            Byla založena v den Letnic vylitím Ducha Svatého na učedníky.
       </li>
       <li>
            Boží vůlí je, aby věřící žili v posvěcení skrze krev Ježíše Krista, moc Ducha Svatého a poslušnost Božího slova a v neustálém růstu ve víře a nesli ovoce života naplněného Duchem Svatým.
       </li>
       <li>
            Podílem věřících jsou dary Ducha Svatého, které zmocňují k životu a službě v moci Ducha Svatého.
       </li>
       <li>
            V odpověď na modlitbu víry Pán nadpřirozeně uzdravuje nemocné.
       </li>
       <li>
            Církev Kristova je obecenství těla a krve Ježíše Krista, což je vyjádřeno slavením památky Večeře Páně podáváním chleba a vína. Přijímat Večeři Páně přísluší jen těm, kteří jsou očištěni a vykoupeni krví Kristovou, a tím připojeni k jeho církvi.
       </li>
       <li>
            Ve vztahu k ostatním znovuzrozeným křesťanům jsou členové vázáni povinností respektovat zásadu ztotožnění se s viditelnou církví Kristovou.
       </li>
   </ol>
</div>   
