@inherits MemberFormBase

<h2>PŘIHLÁŠKA K ČLENSTVÍ DO CÍRKVE NA HOŘE:</h2> 
<form name="contactForm" id="contactForm" method="post" action="" autocomplete="off">
    <fieldset>
        <div class="form-field">
            <input name="cName" id="cName" class="h-full-width h-remove-bottom" placeholder="Jméno" value="" type="text">
        </div>
        
        <div class="form-field">
            <input name="cSurname" id="cSurname" class="h-full-width h-remove-bottom" placeholder="Příjmení" value="" type="text">
        </div>
        
        <div class="form-field">
            <input name="cDateOfBirth" id="cDateOfBirth" class="h-full-width h-remove-bottom" placeholder="Datum narození" value="" type="text">
        </div>
        
        <div class="form-field">
            <input name="cEmail" id="cEmail" class="h-full-width h-remove-bottom" placeholder="Email" value="" type="text">
        </div>
        
        <div class="form-field">
            <input name="cMobil" id="cMobil" class="h-full-width h-remove-bottom" placeholder="Mobil" value="" type="text">
        </div>
        
        <div class="form-field">
            <input name="cDateOfChristianity" id="cDateOfChristianity" class="h-full-width h-remove-bottom" placeholder="Datum obrácení" value="" type="text">
        </div>
        
        <div class="form-field">
            <input name="cDateOfBaptism" id="cDateOfBaptism" class="h-full-width h-remove-bottom" placeholder="Datum křtu" value="" type="text">
        </div>
        
        <div class="message form-field">
            <textarea name="cMessage" id="cMessage" class="h-full-width h-remove-bottom" placeholder="Poznámka"></textarea>
        </div>
        
        <div class="form-field">
            <input name="cConfession" id="cConfession" class="h-full-width h-remove-bottom" value="Confession" type="checkbox" style="width:auto; height: auto"> Byl jsem srozuměn s "Vyznáním víry" Církve Na Hoře.
        </div>

        <div class="form-field">
            <input name="cAgreement" id="cAgreement" class="h-full-width h-remove-bottom" value="Agreement" type="checkbox" style="width:auto; height: auto"> Souhlasím s uchováním osobních údajů Církve Na Hoře za účelem členství.
        </div>

        <br>


        <input name="submit" id="submit" class="btn btn--primary btn-wide btn--large h-full-width" value="REGISTROVAT SE" type="submit">

    </fieldset>
</form>

