<p class="lead drop-cap">
Pokud by ses rád stal oficiálním členem Církve Na Hoře, můžeš vyplnit
formulář dole. Naše společenství je postavené na základních křesťanských 
principech, úctě a lásce k lidem i Bohu. Přihláška je dobrovolná a je vyplňována
bezprostřední osobou. Následně je vytisknuta a podepsána zástupcem vedení CNH
i jejím žadatelem.
<br/>
<br/>
Jedná se o psanou přátelskou dohodu mezi novým členem (žadatelem) a Církví Na Hoře.
Není vymahatelná a nezavazuje ani člena ani církev ke konkrétním krokům, ale
vyjadřuje sounáležitost osoby ke společenství. Před podepsáním by měl být každý žadatel 
srozuměn s učením církve (viz "Vyznání víry"), respektovat ho a nemělo by mu být nic zatajeno. Členství
mohou obě strany bez udání důvodu vypovědět. Jednání žádné strany by nemělo poškozovat
dobré jméno člena ani církve.
</p>
