<!-- hero
================================================== -->
<section class="s-hero" data-parallax="scroll" data-image-src="images/prague.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

    <div class="hero-left-bar"></div>

    <div class="row hero-content">

        <div class="column large-full hero-content__text">
            <h1>
                Město ležící <br>
                na hoře nemůže <br>
                být skryto. 
            </h1>

            <div class="hero-content__buttons">
                <a href="/udalosti" class="btn btn--stroke">Události</a>
                <a href="/onas" class="btn btn--stroke">O nás</a>
            </div>
        </div> <!-- end hero-content__text -->

    </div> <!-- end hero-content -->

    <ul class="hero-social">
        <li class="hero-social__title">SLEDUJ NÁS</li>
        <li>
            <a href="https://www.youtube.com/@@cirkevnahore" title="">Youtube</a>
        </li>
        <li>
            <a href="https://www.instagram.com/cirkevnahore" title="">Instagram</a>
        </li>
        <li>
            <a href="https://www.facebook.com/cirkevnahore" title="">Facebook</a>
        </li>
    </ul> <!-- end hero-social -->

</section> <!-- end s-hero -->
