<!-- about
================================================== -->
<section id="about" class="s-about">

    <div class="row row-y-center about-content">

        <div class="column large-half medium-full">
            <h3 class="subhead">Vítej v Církvi Na Hoře</h3>
            <p class="lead">
            Jsme křesťanské společenství otevřené věřícím i nevěřícím lidem.
            Naší touhou je sdílet lásku, víru a naději, kterou jsme skrze
            Boha a Jeho oběť na kříži přijali. Věříme, že Bůh může jednat v našich životech
            i dnes, vytváříme přátelské prostředí a domov různým lidem na kolejích Strahov.
            </p>
            <a href="/onas" class="btn btn--primary btn--about">Více o CNH</a>
        </div>

        <div class="column large-half medium-full">
            <ul class="about-sched">
                <li>
                    <h4>Shromáždení CNH (Církve Na Hoře)</h4>
                    <p>
                    Neděle - 18:00 hodin <br>
                    Strahov - Blok 8, 1.mezipatro <br>
                    Chaloupeckého 1915/7, 169 00 Praha 6 - Břevnov
                    </p>
                </li>
                <li>
                    <h4>Setkání KK (Křesťanského klubu)</h4>
                    <p>
                    Středa - 19:00 hodin <br>
                    Strahov - Blok 8, 1.mezipatro <br>
                    Chaloupeckého 1915/7, 169 00 Praha 6 - Břevnov
                    </p>
                </li>
            </ul> <!-- end about-sched-->
        </div>

    </div> <!-- end about-content -->

</section> <!-- end s-about -->


