<!-- connect
================================================== -->
<section class="s-connect">

    <div class="row connect-content">
        <div class="column large-half tab-full">
            <h3 class="display-1">Pravidelná setkání</h3>
            <p>
            Pokud jsi u nás byl nebo ještě ne. Během našich obvyklých setkání
            se můžeš těšit na chvály (zpívané křesťanské písně), moderovanou
            diskuzi, společnou večeři a příjemný čas, kdy se můžeš seznámit
            a popovídat si s dalšími lidmi.
            </p>
            <img src="/img/photos/narozbw.webp" alt="Homepage">
            <p>
            <br/>
            </p>
            <a href="/kontakt" class="btn btn--primary h-full-width">Mám zájem</a>
        </div>
        <div class="column large-half tab-full">
            <h3 class="display-1">Exkluzivní události</h3>
            <p>
            Během roku pořádáme speciální akce, kde můžeš zažít nečekaná dobrodružství,
            prohloubit vztahy, seznámit se s lidmi nebo získat nová přátelství. Záběr
            našich aktivit sahá od letních grilovaček až po zimní výstup Sněžku. Určitě
            si vybeřeš.
            </p>

            <img src="/img/photos/machacbw.webp" alt="Homepage">
            <p>
            <br/>
            </p>
            <a href="/udalosti" class="btn btn--primary h-full-width">Zjistit více</a>
        </div>
    </div> <!-- end connect-content  -->

</section> <!-- end s-connect -->


