<!-- footer
================================================== -->
<footer class="s-footer">

    <div class="row footer-top">
        <div class="column large-4 medium-5 tab-full">
            <div class="footer-logo">
                <a class="site-footer-logo" href="/">
                    <img src="logo/logo.png" alt="Homepage">
                </a>
            </div>  <!-- footer-logo -->
            <p>
                Jsme křesťanské společenství otevřené věřícím i nevěřícím lidem.
                Naší touhou je sdílet lásku, víru a naději, kterou jsme skrze
                Boha a Jeho oběť na kříži přijali. Vytváříme přátelské prostředí
                a domov dalším lidem.
            </p>
        </div>
        <div class="column large-half tab-full">
            <div class="row">
                <div class="column large-7 medium-full">
                    <p>
                    <h4 class="h6">Naše lokalita</h4>
                        Strahov - Blok 8, 1.mezipatro <br>
                        Chaloupeckého 1915/7 <br>
                        Praha 6 - Břevnov <br>
                        Česká republika
                    </p>
    
                    <p>
                    <a href="https://en.mapy.cz/zakladni?q=Chaloupeck%C3%A9ho%201915%2F7&source=addr&id=8974731&x=14.3914329&y=50.0801093&z=17" target="_blank" class="btn btn--footer">MAPA</a>
                    </p>
                </div>
                <div class="column large-5 medium-full">
                    <h4 class="h6">Odkazy</h4>
                    <ul class="footer-list">
                        <li><a href="/">Domů</a></li>
                        <li><a href="/onas">O nás</a></li>
                        <li><a href="/tym">Tým</a></li>
                        <li><a href="/clenstvi">Členství</a></li>
                        <li><a href="/setkani">Setkání</a></li>
                        <li><a href="/udalosti">Události</a></li>
                        <li><a href="/kontakt">Kontakt</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- end footer-top -->

    <div class="row footer-bottom">
        <div class="column ss-copyright">
            <span>© Copyright <span id="currentYear"></span> Církev Na Hoře</span> 
            <span>Vytvořil  <a href="https://danielkralik.cz">Daniel Králík</a> ve spolupráci se společností <a href="https://azowan.com">AZOWAN s.r.o.</a></span>
        </div>
    </div> <!-- footer-bottom -->

    <div class="ss-go-top">
        <a class="smoothscroll" title="Back to Top" href="#top">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0l8 9h-6v15h-4v-15h-6z"/></svg>
        </a>
    </div> <!-- ss-go-top -->

</footer> <!-- end s-footer -->

<script>
  document.getElementById("currentYear").textContent = new Date().getFullYear();
</script>