@inherits HeaderBase

<!-- page header
================================================== -->
<section class="page-header @PageHeaderStyle">

    <div class="gradient-overlay"></div>
    <div class="row page-header__content">
        <div class="column">
            <h1>@Title</h1>
        </div>
    </div>

</section> <!-- end page-header -->
